@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
  .serif-font {
    font-family: 'Crimson Pro', serif;
  }
  .playfair-title {
    font-family: 'Playfair Display', serif;
  }
  /* Impedisce lo zoom automatico su iOS quando si tocca un campo input */
  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}

@layer utilities {
  /* Nascondi la barra di scorrimento verticale su mobile */
  @media (max-width: 768px) {
    *::-webkit-scrollbar {
      display: none;
    }
    * {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
